meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Notificación en sivigila y activación intersectorial
meta(meta name="description" content="Las violencias de género son violaciones sistemáticas y masivas de los derechos humanos, se consideran una problemática de salud pública debido a las graves afectaciones que generan en las víctimas y a la cantidad de población afectada. Es fundamental disponer de información estadística confiable sobre las violencias de género con el fin de implementar y evaluar las políticas públicas que permitan el abordaje integral de estas violencias. ")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")