h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Reportar la víctima de ataques con agentes químicos de acuerdo con lineamientos del Sistema Nacional de Vigilancia en salud Pública-SIVIGILA y RIPS.