h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas  
                    +navTemaItem('play', 'Introducci贸n', 'main.html#page/introduccion/')                              
                    +navTemaItem('1', 'Notificaci贸n en formato SIVIGILA', 'main.html#page/sivigila/')
                    +navTemaItem('2', 'Reporte en RIPS con c贸digo CIE-10 correspondiente', 'main.html#page/rips/')
                    +navTemaItem('3', 'Articulaci贸n intersectorial', 'main.html#page/intersectorial/')