.container
    .header-ecored
        h1 Introducción
    .jumbotron.bg-white
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/ZalkbkKFV4Y', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')  
                
        p.mt-5 Las violencias de género son violaciones sistemáticas y masivas de los derechos humanos que afectan la vida, la salud física, mental y social, la integridad, la libertad e igualdad de niñas, niños, adolescentes, jóvenes, mujeres, hombres y personas con orientaciones diferentes a la heterosexual, en particular a las de la comunidad de lesbianas, gays, bisexuales, transgénero e intersexuales (LGBTI).

        p Estas violencias se constituyen en una problemática de salud pública por varias razones:  primero, debido a las graves afectaciones en el bienestar y la salud física y emocional de las víctimas, sus familias y la sociedad en general, y por los años de vida saludable perdidos. Segundo, por su magnitud, es decir, la cantidad de población afectada, principalmente niñas, niños, adolescentes, jóvenes y mujeres; lo cual evidencia que la violencia de género es un asunto social y de interés público y no meramente un problema psicológico circunscrito al ámbito de lo privado, por lo tanto, requiere una acción coordinada por parte del Estado, y tercero porque son evitables ya que sus causas son culturales y sociales, y no biológicas y hereditarias

        p El Instituto Nacional de Salud (2017) con el acompañamiento del Ministerio de Salud y Protección Social ha priorizado la vigilancia de la violencia de género por tratarse de una vulneración de los derechos humanos y un evento de interés en salud pública para poder aportar a la política pública de la violencia de género dirigida especialmente a mujeres, niñas y personas con identidad de género y orientaciones sexuales no heteronormativas. 
