.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

                tr
                    td Sistema integrado de información sobre violencias de género, marco normativo, conceptual y operativo. Ministerio de Salud y protección social, 2016 
                    
                    td Libro
                    td 
                        a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VS/PP/sivige-documento.pdf", target="_blank") <span class="fa fa-external-link mr-3" aria-hidden="true"></span> ver

                tr
                    td Protocolo de vigilancia en salud pública, violencia de género e intrafamiliar, código 875, Instituto Nacional de Salud, 2020
                    
                    td Documento
                    td 
                        a(href="http://www.ins.gov.co/buscador-eventos/Lineamientos/PRO%20Violencia%20de%20genero%20e%20intrafamiliar.pdf", target="_blank") <span class="fa fa-external-link mr-3" aria-hidden="true"></span> ver

                tr
                    td Ficha de notificación violencia de género e intrafamiliar, código INS: 875, Instituto Nacional de Salud
                    
                    td Documento
                    td 
                        a(href="http://www.ins.gov.co/buscador-eventos/Lineamientos/875_Violencia_Genero_2020.pdf", target="_blank") <span class="fa fa-external-link mr-3" aria-hidden="true"></span> ver

                tr
                    td Ruta de atención integral para las víctimas de violencias de género.
                    
                    td Documento
                    td 
                        a(href="https://www.minsalud.gov.co/salud/publica/ssr/Paginas/Ruta-de-atencion-integral-para-victimas-de-violencias-de-genero.aspx", target="_blank") <span class="fa fa-external-link mr-3" aria-hidden="true"></span> ver

                tr
                    td Derechos de las víctimas de violencia de género
                    
                    td Documento
                    td 
                        a(href="https://www.minsalud.gov.co/salud/publica/ssr/Paginas/Derechos-de-las-victimas-de-violencias-de-genero.aspx", target="_blank") <span class="fa fa-external-link mr-3" aria-hidden="true"></span> ver

                tr
                    td Preguntas frecuentes RIPS 
                    
                    td Documento
                    td 
                        a(href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/OT/FAQ-RIPS.pdf", target="_blank") <span class="fa fa-external-link mr-3" aria-hidden="true"></span> ver                          