include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Instituto Nacional de Salud. (2017). Protocolo de vigilancia en salud pública violencia de género e intrafamiliar código 875. ", "https://www.ins.gov.co/buscador-eventos/Lineamientos/PRO%20Violencia%20de%20genero%20e%20intrafamiliar.pdf")
        
    
        +referenciaItem("Ministerio de Salud y Protección Social. (2015). Preguntas Frecuentas RIPS. ", "https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/OT/FAQ-RIPS.pdf")

    
        +referenciaItem("MinSalud y Prosperidad Social. (2016). Sistema Integrado de Información de Violencias de Género. Observatorio Nacional de Violencia de Género. ", "http://onviolenciasgenero.minsalud.gov.co/Paginas/sivige.aspx")

        +referenciaItem("Ministerio de Salud y Protección Social. (s. f.). Ruta de atención integral para víctimas de violencias de género. ", "https://www.minsalud.gov.co/salud/publica/ssr/Paginas/Ruta-de-atencion-integral-para-victimas-de-violencias-de-genero.aspx")
        
    
        +referenciaItem("Ministerio de Salud y Prosperidad Social. (s. f.). Sistema de Vigilancia en Salud Pública. MinSalud. ", "https://www.minsalud.gov.co/salud/Paginas/SIVIGILA.aspx#:%7E:text=El%20Sistema%20de%20Salud%20P%C3%BAblica,pr%C3%A1ctica%20de%20la%20salud%20p%C3%BAblica.")

    
        +referenciaItem("Resolución 4568 de 2014, Por la cual se adopta el Protocolo de Atención de Urgencias a Víctimas de Ataques con Agentes Químicos. 16 oct, 2014 Núm. 49325 ", " ")
        
        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            